@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: conic-gradient(from 90deg at 6px 6px, #0000 90deg, rgba(42, 42, 42, 0.60) 0) 0 0/80px 80px;
  color: white;
  background-color: #151719;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-gradient {
  background: linear-gradient(0deg,
      #cf3f35 14%,
      #3e80e9 28%,
      #e8aa08 42%,
      #109755 57%,
      #e8aa08 71%,
      #3e80e9 85%,
      #cf3f35 100%
    );

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: gradient 35s ease infinite;

  background-size: 400% 400%;
}

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }

  50% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}

.blob {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  width: 800px;
  aspect-ratio: 1/1;
  animation: animate 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate forwards;
  filter: blur(80px);
  z-index: -1;
  background: linear-gradient(47deg,
      rgba(255, 88, 139, 1) 21%,
      rgb(0 164 173) 67%,
      rgba(118, 74, 166, 1) 81%);

  /*  Optional  */
  /*   box-shadow: inset 50px 50px 17px 0px #ff588b,
    inset 100px 100px 17px 0px #66319f; */
}

@keyframes blob {
  0% {
    translate: 40% -25%;
    border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  }

  50% {
    translate: 0% 13%;
    border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
    rotate: 41deg;
    scale: 1.15;
  }

  100% {
    translate: -45% 39%;
    border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
    rotate: -60deg;
    scale: 1.05;
  }
}
